
* {
  margin: 10;
  padding: 0;
}


.title {
  color: red;
}

.header, .main, .breadtext, .order_button, .receipt_button {
  background: #605858;
  margin: 0 auto;
  padding: 0;
  width: 390px;
  padding: 10px;
  color: whitesmoke
}

.logo {
  width: 64px;
  height: 64px;
}
